<p>Ol&aacute; <%= @resource.email %>!</p>

<p>Algu&eacute;m requisitou um link para alterar sua senha, e voc&ecirc; poder&aacute; alterar atrav&eacute;s do link abaixo.</p>

<p><%= link_to 'Alterar minha Senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se voc&ecirc; n&atilde;o requisitou, por favor ignore esse email.</p>
<p>Sua senha n&atilde;o ser&aacute; alterada at&eacute; que voc&ecirc; acesse o link acima e crie uma nova.</p>

