<h1>Nova avaliacao</h1>

<% form_for([@course_class, @exam]) do |form| %>
  <%= render :partial => 'form', :locals => {:f => form} %>
<% end %>

<%= link_to 'Voltar', course_class_exams_path(@course_class) %>

