<div id="call-alunos">ALUNOS</div>

  <div id="buscar_alunos">
      <form style="margin:0;padding:0;" method="post" name="buscaralunos">
          <div id="impttext_alunos"><input name="textfied2" type="text" id="textfield2" size="57" /></div>
          <div id="imptbotao"><input type="image" src="/images/btbuscar.png"/></div>
      </form>
  </div>

  <%= yield %>

</div>

<% parent_layout 'application' %>

